.footer {
    display: grid;
    height: 200px;
    background-color: black;
    font-family: ballinger, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}