#main-index .titulo {
    display: flex;
    font-family: "Open Sans";
    font-size: xx-large;
    color: rgb(7, 135, 135);
    justify-content: center;
    background-color: lightgray;
    height: 60px;
}