#main-contacto section {
    margin: 70px 5px 140px 5px;
}

#main-contacto .titulo {
    display: flex;
    width: 250px;
    @extend .estilo-titulo;
    
}

#main-contacto .subtitulo {
    font-family: "Open Sans";
    font-size: large;
    margin: 30px 5px 10px 5px;

}

#main-contacto .subtitulo-2 {
    font-family: "Open Sans";
    font-size: large;
    margin: 30px 5px 10px 5px;
}

#main-contacto p {
    font-family: ballinger, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 10px 5px 10px 5px;
}