#main-contacto {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        justify-content: center;

        .titulo {
            display: flex;
            width: 250px;
            @extend .estilo-titulo;
        }

        .subtitulo {
            font-family: "Open Sans";
            font-size: large;
            margin: 30px 5px 10px 5px;
        }

        .subtitulo-2 {
            font-family: "Open Sans";
            font-size: large;
            margin: 30px 5px 10px 5px;
        }
    }
}