#main-portfolio div .titulo {
    font-family: "Open Sans";
    font-size: large;
    text-align: center;
    background-color: lightgray;
    width: 250px;
    height: 30px;
    margin: 5px 5px 10px 5px;
}

#main-portfolio div .primero {
    font-family: ballinger, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 10px 5px 10px 5px;
}


#main-portfolio div img {
    height: 400px;
}